---
import Box from '@/components/Box.astro';
import IndentSelect from '@/components/IndentSelect/IndentSelect.astro';
import type { PostFrontmatter } from '@/utils/types';
import BaseLayout from './BaseLayout.astro';

interface Props {
	frontmatter: PostFrontmatter;
	headings: {
		depth: 1 | 2 | 3 | 4 | 5 | 6;
		/** id of heading element on page */
		slug: string;
		text: string;
	}[];
	file: string;
	url: string;
}

const { frontmatter } = Astro.props as Props;
---

<style lang='scss' is:global>
	h1 {
		font-size: 2.5rem;
	}

	h2 {
		font-size: 2rem;
		margin: 0.5rem 0;
	}

	h3 {
		font-size: 1.5rem;
		margin: 0.5rem 0;
	}

	a,
	a:link,
	a:visited {
		color: var(--link-color);

		&:hover {
			color: var(--link-hovered-color);
		}
	}

	p {
		margin: 0.5rem 0;
		text-align: justify;
	}

	p,
	li {
		font-size: 1.25rem;
		line-height: 1.5;
	}

	code {
		background-color: var(--shiki-background);
		padding: 2px;
		border-radius: var(--radius);
	}

	.article-container {
		margin-top: 1rem;
	}

	.article {
		position: relative;
		background-color: rgba(var(--article-background), 0.5);
		padding: 1rem;
		border-radius: var(--radius);
	}

	.publish-date {
		color: var(--dimmed-text-color);
	}

	$breakpoint: 750px;
	.code-block {
		font-family: monospace;
		margin-top: var(--spacing-xl);
		margin-bottom: var(--spacing-xl);
		overflow-x: auto;
		padding: var(--spacing-xl);
		padding-right: 5em;
		border-radius: var(--radius);
		margin: 0;
		white-space: pre;
		box-shadow:
			0 0rem 0rem rgba(0, 0, 0, 0.05),
			rgba(0, 0, 0, 0.05) 0 1.25rem 1.5625rem -0.3125rem,
			rgba(0, 0, 0, 0.04) 0 0.625rem 0.625rem -0.3125rem;
		color: var(--code-foreground);
		background-color: var(--code-background);
		font-size: 1.125rem;

		@media only screen and (max-width: $breakpoint) {
			padding: var(--spacing-md);
			padding-right: 5em;
			font-size: 1rem;
		}
	}

	.code-with-file-name {
		border-top-left-radius: 0;
	}

	:root[data-theme='dark'] .code-block {
		border: 1px solid white;
	}

	.language-badge {
		position: absolute;
		top: 0px;
		right: 0px;
		padding: 4px 8px;
		font-size: 1.125rem;
		border-bottom-left-radius: var(--radius);
		border-top-right-radius: var(--radius);
		font-weight: 700;
		transition: opacity 0.25s ease-in-out;

		&:hover {
			opacity: 0;
			user-select: none;
		}
	}

	.code-file-name {
		background-color: var(--code-background);
		width: fit-content;
		font-size: 1.25rem;
		padding: 4px 16px;
		border-top-right-radius: var(--radius);
		border-top-left-radius: var(--radius);
		border-bottom-left-radius: -16px;
	}

	:root[data-theme='dark'] .code-file-name {
		border: 1px solid white;
		border-bottom: 1px solid transparent;
	}
</style>
<BaseLayout
	title={frontmatter.title}
	description={frontmatter.summary}
	metas={[
		{ name: 'author', content: frontmatter.author },
		{ name: 'keywords', content: ['Programming', ...frontmatter.tags].join(', ') },
	]}
>
	<Box class='article-container'>
		<Box as='article' class='article' mxw={1000} ml='auto' mr='auto'>
			<Box as='h1' m={0}
				>{frontmatter.title}{frontmatter.published ? '' : ' (UNPUBLISHED)'}</Box
			>
			<Box as='p' m={0}>
				Published: <Box as='span' class='publish-date'>
					{frontmatter.publishDate}
				</Box>
			</Box>
			{
				frontmatter.editDate && (
					<Box as='p' m={0}>
						Last Edited:{' '}
						<Box as='span' class='publish-date'>
							{frontmatter.editDate}
						</Box>
					</Box>
				)
			}
			<Box as='p' mb='0px' mb='1rem'>{frontmatter.summary}</Box>
			<div style={{ borderTop: '2px solid rgb(var(--primary-800))', marginBottom: '1rem' }}>
			</div>
			<slot />
		</Box>
	</Box>
</BaseLayout>
